// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// colors
$letters: rgba(103, 128, 159, 1.0);



.header {
  height: 25px;
  background: $letters;
}
h1.main-header {
  font-family: 'Fredoka One';
}
a.hint {
  display: inline-block;
  margin-right: 2em;
}
.btn.start {
  margin-left: 0.25em;
  margin-right: 2em;
  margin-bottom: 0.25em;
}
.letters {
  overflow: hidden;
}
.letter {
  width: 3em;
  height: 3em;
  padding: 0.8em;
  margin: 0.25em;
  background: lighten($letters, 30%);
  border-radius: 4px;
  float: left;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  transition: all 0.5s ease;
}

// fade transitions
.letter.ng-hide {
  display: block !important;
  opacity: 0;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}

.graphic canvas {
  background: #ccc;
  width: 100%;
  height: 600px;
}

.correct-letter {
  transition: all 0.5s ease;
}
.correct-letter.ng-hide {
  display: block !important;
  height: 1.5em;
  width: 1.5em;
  opacity: 0;

}
.blanks {
  text-align: center;
}
.blank-container {
  margin: 0 auto;
}
.blank-space {
  display: inline-block;
  width: 2em;
  height: 2em;
  text-align: center;
  margin: 0 1em 1em 1em;
  font-size: 1.5em;
  border-bottom: 3px solid #000;
  opacity: 1;
}

.custom-modal, .modal-dialog.custom-modal {
  position: absolute;
  top: 30px;
  left:20%;
}