
<div ng-controller="HangManCtrl" class="container-fluid">
  <div class="row">
    <div class="col-sm-12 header">
    </div>
  </div><!-- /.row -->
  <div class="row">
    <div class="col-sm-6">
      <h1 class="main-header">Hangman</h1>
    </div>
    <div class="col-sm-6 scoring">
      <div class="game-score" ng-model="gameScore">
        <h4 class="score">Total Score: {{gameScore}}</h4>
      </div>
    </div>
  </div><!-- /.row -->
  <div class="row">
    <div class="col-sm-6 graphic">
      <svg height="500" width="400">
        <polyline points="
          0,475
          400,475
          25,475
          25,475
          20,25
          250,25
          250,50"

          style="fill:none; stroke:black; stroke-width:15"
        />
        <!-- line tags -->

        <!-- circel tag -->
        <line ng-show="axe[1]" id="lt-leg" x1="250" y1="300" x2="350" y2="450" stroke="black" stroke-width="5"/>
        <line ng-show="axe[2]" id="rt-leg" x1="250" y1="300" x2="150" y2="450" stroke="black" stroke-width="5"/>
        <line ng-show="axe[3]" id="lt-arm" x1="250" y1="175" x2="150" y2="200" stroke="black" stroke-width="5"/>
        <line ng-show="axe[4]" id="rt-arm" x1="250" y1="175" x2="350" y2="200" stroke="black" stroke-width="5"/>
        <line ng-show="axe[5]" id="body" x1="250" y1="150" x2="250" y2="300" stroke="black" stroke-width="5"/>
        <circle ng-show="axe[6]" cx="250" cy="100" r="50" style="fill:none; stroke:black; stroke-width:5" />

      </svg>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-primary btn-lg start" ng-click="showModal()">Start Game</button>
          <a href="javascript:void(0)"class="hint" ng-repeat="hint in secret.hint" ng-hide="hintBtn[{{$index}}]" ng-click="getHint($index)">Get Hint {{$index + 1}}</a>
        </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="col-sm-12 letters">
          <div class="letter" ng-repeat="letter in letters" ng-click="guessLetter(letter)" ng-hide="{{letter}}">{{letter}}</div>
        </div>
      </div><!-- /.row -->
    </div>
  </div><!-- ./row -->
  <div class="row">
    <div class="col-sm-12 blanks">
      <div class="blank-container">
        <div class="blank-space" ng-repeat="letter in secret.word track by $index">
          <span class="correct-letter" ng-show="{{letter}}">{{letter}}</span>
        </div>
      </div>
    </div>
  </div>


  <!-- modal-->
  <div id="newWord" ng-show="openModal" class="custom-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add a Secret Word</h4>
      </div>
      <div class="modal-body">
        <form ng-submit="setSecret(secret)" action="javascript:void(0)">
          <div class="form-group">
            <label for="secretWord">Secret Word</label>
            <input class="form-control" type="text" ng-model="secret.word" placeholder="Enter the secret word" autofocus>
          </div>
          <!-- consider saving hints to an array to use the index -->
          <div class="form-group">
            <label for="hintOne">Hint #1</label>
            <input id="hintOne" class="form-control" type="text" ng-model="secret.hint[0]" placeholder="Enter the first hint">
          </div>
          <div class="form-group">
            <label for="hintTwo">Hint #2</label>
            <input id="hintTwo" class="form-control" type="text" ng-model="secret.hint[1]" placeholder="Enter the second hint">
          </div>
          <div class="form-group">
            <label for="hintThree">Hint #3</label>
            <input id="hintThree" class="form-control" type="text" ng-model="secret.hint[2]" placeholder="Enter the third hint">
          </div>
          <input type="submit" class="btn btn-primary" value="Start Game">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="hideModal()">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal-dialog hint-modal custom-modal" ng-show="showHint[{{$index}}]" ng-repeat="hint in secret.hint">
  <div class="modal-content">
    <div class="modal-header">
      <p>{{hint}}</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" ng-click="hideHint($index)">Close</button>
    </div>
  </div>
</div>

<div class="modal-dialog hint-modal custom-modal" ng-show="showResult">
  <div class="modal-content">
    <div class="modal-header">
      <p ng-model="result">{{result}}</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" ng-click="showResult = false">Close</button>
    </div>
  </div>
</div>

</div><!-- /HangManCtrl -->


