<!DOCTYPE html>
<html>
<head>
  <title>Hangman</title>
  <link href='http://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="HangManApp">

<%= yield %>

</body>
</html>
